{% extends 'index.html' %}

{% block main %}
    <h1 class="mt-5">Schedule maker</h1>
    <table class="table table-bordered">
        <tr>
            <th>Groups:</th>
            <th>Teachers</th>
            <th>Subjects</th>
            <th>Classrooms</th>
        </tr>
    <tr>
       <td>
           <table>
               {% for g in groups %}
                   <tr><td>{{ g.group_name }}</td></tr>
               {% endfor %}
           </table>
        </td>
        <td>
           <table>

               {% for t in teachers %}
                   <tr><td>{{ t.name }}</td></tr>
               {% endfor %}
           </table>
        </td>
        <td>
           <table>
               {% for s in subjects %}
                   <tr>
                       <td>{{ s.subject_name }}</td>
                       <td>{{ 'lecture' if s.is_lecture else 'seminar' }}</td>
                   </tr>
               {% endfor %}
           </table>
        </td>
        <td>
           <table>

               {% for c in classrooms %}
                   <tr>
                       <td>{{ c.classroom_name }}</td>
                       <td>{{ 'huge' if c.is_for_lecture else 'small' }}</td>
                   </tr>
               {% endfor %}
           </table>

       </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                {% for tts in teacher_to_subject %}
                    <tr><td>{{ tts.name }} - {{ tts.subject_name }}</td></tr>
                {% endfor %}
            </table>
        </td>
        <td colspan="2">
            <table>
                {% for gts in group_to_subject %}
                    <tr><td>{{ gts.group_name }} - {{ gts.subject_name }} - {{ gts.number_of_hours }}</td></tr>
                {% endfor %}
            </table>
        </td>
    </tr>

    </table>

{% endblock %}